In [ ]:
#Q1

In [15]:
str1=input("donnez votre prÃ©nom :")
str2=input("donnez votre nom :")
print(str2," ",str1)

donner un nom :hajar

'hjr'

In [ ]:
#Q2

In [ ]:
str1=input("entrer un seul chiffre :")
str2=input("entrer le chiffre deux fois :")
str3=input("entrer le chiffre trois fois :")
str4=int(str1)+int(str2)+int(str3)
str4

In [ ]:
#Q3

In [ ]:
str1=int(input("donnez un nombre :"))
if str1%2==0:
    print("le nombre est pair")
else:
    print("le nombre est impair")

In [ ]:
#Q4

In [ ]:
for i in range(2000 , 3201):
    if i%7==0 and i%5!=0:
        print(i , end=",")

In [ ]:
#Q5

In [ ]:
str1=int(input("donnez un nombre : "))
str2=1
if str1==0 or str1==1:
    print("1")
else:
    for i in range(1,str1+1):
        str2=str2*i
str2

In [ ]:
#Q6

In [ ]:
str1=input("entrez quelque chose : ")
h =""
for i in range(len(str1)):
    if i%2==0:
        h = h+str1[i]
h

In [ ]:
#Q7

In [ ]:
str1=float(input("entrez le prix "))
if str1>=500:
    str1=str1-str1*50/100
elif str1>=200 and str1<500:
    str1=str1-str1*30/100
else:
    str1=str1-str1*10/100
str1